In [3]:
import pandas as pd

df = pd.read_csv("top_5_leagues_player.csv")

In [4]:
df

,Unnamed: 0,name,full_name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club,player_agent,outfitter,league
0,0,Ederson,NaN,29,1.88,Brazil Portugal,Osasco (SP),45.00,70.00,Goalkeeper,31,left,Man City,2026-06-30,2017-07-01,Gestifute,Puma,EPL
1,1,Stefan Ortega,Stefan Ortega Moreno,30,1.85,Germany Spain,Hofgeismar,6.00,6.00,Goalkeeper,18,right,Man City,2025-06-30,2022-07-01,neblung ...,NaN,EPL
2,2,Scott Carson,Scott Paul Carson,37,1.88,England,Whitehaven,0.25,6.00,Goalkeeper,33,right,Man City,2023-06-30,2021-07-20,Wasserman,Puma,EPL
3,3,Rúben Dias,Rúben Santos Gato Alves Dias,26,1.87,Portugal,Amadora,75.00,75.00,Defender - Centre-Back,3,right,Man City,2027-06-30,2020-09-29,Gestifute,Nike,EPL
4,4,Nathan Aké,Nathan Benjamin Aké,28,1.80,Netherlands Cote d'Ivoire,Den Haag,35.00,40.00,Defender - Centre-Back,6,left,Man City,2025-06-30,2020-08-05,Wasserman,Nike,EPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2607,2607,Moussa Djitté,Moussa Kalilou Djitté,23,1.80,Senegal,Diattouma,2.00,2.00,Attack - Centre-Forward,28,right,AC Ajaccio,2023-06-30,2023-01-31,FS Management,NaN,Other
2608,2608,Mounaïm El Idrissy,منعم الإدريسي,24,1.81,France Morocco,Martigues,1.80,1.80,Attack - Centre-Forward,7,right,AC Ajaccio,2023-06-30,2019-07-01,N.Agency,NaN,Other
2609,2609,Moussa Soumano,NaN,17,NaN,France Mali,NaN,0.90,0.90,Attack - Centre-Forward,34,NaN,AC Ajaccio,2026-06-30,2023-01-01,NaN,NaN,Other
2610,2610,Romain Hamouma,NaN,36,1.79,France Algeria,Montbéliard,0.60,7.00,Attack - Centre-Forward,17,right,AC Ajaccio,2023-06-30,2022-07-01,Gallea Gestion S.A,NaN,Other
2611,2611,Yoann Touzghar,NaN,36,1.80,Tunisia France,Avignon,0.50,1.75,Attack - Centre-Forward,9,right,AC Ajaccio,2024-06-30,2022-08-24,AGJ SP MGMT,NaN,Other

# Data Cleaning

In [6]:
#Primero, vamos a eliminar los duplicados con un simple comando.

df.shape[0]

2612

In [7]:
df = df.drop_duplicates()

In [8]:
df.shape[0]

2612

In [9]:
#No habían duplicados.

In [11]:
df["age"].dtype

dtype('int64')

In [12]:
df.describe()

,Unnamed: 0,age,height,price,max_price,shirt_nr
count,2612.000000,2612.000000,2601.000000,2602.000000,2606.000000,2612.000000
mean,1305.500000,26.305513,1.830892,10.650711,17.304729,20.495789
std,754.163775,4.645297,0.067255,15.773271,21.948577,17.914206
min,0.000000,17.000000,1.630000,0.025000,0.025000,1.000000
25%,652.750000,23.000000,1.780000,1.800000,3.500000,8.000000
50%,1305.500000,26.000000,1.830000,4.500000,10.000000,17.000000
75%,1958.250000,30.000000,1.880000,13.000000,22.000000,27.000000
max,2611.000000,42.000000,2.060000,180.000000,200.000000,99.000000

In [13]:
df["shirt_nr"].dtype

dtype('int64')

In [14]:
df.head(10)

,Unnamed: 0,name,full_name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club,player_agent,outfitter,league
0,0,Ederson,NaN,29,1.88,Brazil Portugal,Osasco (SP),45.00,70.0,Goalkeeper,31,left,Man City,2026-06-30,2017-07-01,Gestifute,Puma,EPL
1,1,Stefan Ortega,Stefan Ortega Moreno,30,1.85,Germany Spain,Hofgeismar,6.00,6.0,Goalkeeper,18,right,Man City,2025-06-30,2022-07-01,neblung ...,NaN,EPL
2,2,Scott Carson,Scott Paul Carson,37,1.88,England,Whitehaven,0.25,6.0,Goalkeeper,33,right,Man City,2023-06-30,2021-07-20,Wasserman,Puma,EPL
3,3,Rúben Dias,Rúben Santos Gato Alves Dias,26,1.87,Portugal,Amadora,75.00,75.0,Defender - Centre-Back,3,right,Man City,2027-06-30,2020-09-29,Gestifute,Nike,EPL
4,4,Nathan Aké,Nathan Benjamin Aké,28,1.80,Netherlands Cote d'Ivoire,Den Haag,35.00,40.0,Defender - Centre-Back,6,left,Man City,2025-06-30,2020-08-05,Wasserman,Nike,EPL
5,5,John Stones,NaN,28,1.88,England,Barnsley,30.00,60.0,Defender - Centre-Back,5,right,Man City,2026-06-30,2016-08-09,Wasserman,Nike,EPL
6,6,Aymeric Laporte,Aymeric Jean Louis Gerard Alphonse Laporte,28,1.89,Spain France,Agen,30.00,75.0,Defender - Centre-Back,14,left,Man City,2025-06-30,2018-01-30,NaN,adidas,EPL
7,7,Manuel Akanji,Manuel Obafemi Akanji,27,1.88,Switzerland Nigeria,Wiesendangen,30.00,40.0,Defender - Centre-Back,25,right,Man City,2027-06-30,2022-09-01,IFM,Nike,EPL
8,8,Sergio Gómez,Sergio Gómez Martín,22,1.71,Spain,Badalona,15.00,15.0,Defender - Left-Back,21,left,Man City,2026-06-30,2022-08-16,SEG,NaN,EPL
9,9,Benjamin Mendy,NaN,28,1.85,France Senegal,Longjumeau,NaN,45.0,Defender - Left-Back,22,left,Man City,2023-06-30,2017-07-24,Sport Cover,adidas,EPL

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2612 entries, 0 to 2611
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2612 non-null   int64
 1   name              2612 non-null   object
 2   full_name         1480 non-null   object
 3   age               2612 non-null   int64
 4   height            2601 non-null   float64
 5   nationality       2612 non-null   object
 6   place_of_birth    2595 non-null   object
 7   price             2602 non-null   float64
 8   max_price         2606 non-null   float64
 9   position          2612 non-null   object
 10  shirt_nr          2612 non-null   int64
 11  foot              2576 non-null   object
 12  club              2612 non-null   object
 13  contract_expires  2544 non-null   object
 14  joined_club       2612 non-null   object
 15  player_agent      2353 non-null   object
 16  outfitter         1003 non-null   object
 17  league            2612 non-null   object
dtypes: float64(3), int64(3), object(12)
memory usage: 367.4+ KB

In [22]:
df.loc[0:19, "full_name"]

0                                            NaN
1                           Stefan Ortega Moreno
2                              Scott Paul Carson
3                   Rúben Santos Gato Alves Dias
4                            Nathan Benjamin Aké
5                                            NaN
6     Aymeric Jean Louis Gerard Alphonse Laporte
7                          Manuel Obafemi Akanji
8                            Sergio Gómez Martín
9                                            NaN
10                            Kyle Andrew Walker
11                         Rico Henry Mark Lewis
12                                           NaN
13                          Kalvin Mark Phillips
14                                           NaN
15                                İlkay Gündoğan
16                                           NaN
17       Bernardo Mota Veiga de Carvalho e Silva
18                          Cole Jermaine Palmer
19                           Philip Walter Foden
Name: full_name, dtype: object

In [23]:
df.loc[:,"club"]

0         Man City
1         Man City
2         Man City
3         Man City
4         Man City
           ...
2607    AC Ajaccio
2608    AC Ajaccio
2609    AC Ajaccio
2610    AC Ajaccio
2611    AC Ajaccio
Name: club, Length: 2612, dtype: object

In [24]:
df.loc[0:50, "club"]

0        Man City
1        Man City
2        Man City
3        Man City
4        Man City
5        Man City
6        Man City
7        Man City
8        Man City
9        Man City
10       Man City
11       Man City
12       Man City
13       Man City
14       Man City
15       Man City
16       Man City
17       Man City
18       Man City
19       Man City
20       Man City
21       Man City
22       Man City
23       Man City
24        Chelsea
25        Chelsea
26        Chelsea
27        Chelsea
28        Chelsea
29        Chelsea
30        Chelsea
31        Chelsea
32        Chelsea
33        Chelsea
34        Chelsea
35    Chelsea U21
36        Chelsea
37        Chelsea
38        Chelsea
39        Chelsea
40        Chelsea
41        Chelsea
42        Chelsea
43        Chelsea
44        Chelsea
45        Chelsea
46        Chelsea
47        Chelsea
48        Chelsea
49        Chelsea
50        Chelsea
Name: club, dtype: object